*
!*/
*.egg-info/

########################
# Archivos que NO ignora

!LICENSE
!license

## Latex
!*.tex
*-concordance.tex
!*.bib
!*.bst
!*.sty
!*.cls

## Codigo
!*.py
!*.R
!*.c
!*.jl
!*.sh

## Texto
!*.md
!*.txt
!*.rst

## Otros
!makefile
!Makefile

## Git
!.keep
!.gitignore

# Python
!*.cfg
!*.bat
